// colors
$primary-color: #1565c0;
$primary-light-color: #5e92f3;
$primary-dark-color: #003c8f;
$secondary-color: #dd2c00;
$secondary-light-color: #ff6434;
$secondary-dark-color: #a30000;
$on-primary-color: #ffffff;
$on-secondary-color: #ffffff;
$background-color: #ffffff;
$surface-color: #ffffff;
$on-background-color: #000000;
$on-surface-color: #000000;
$error-color: #ff0000;
$on-error-color: #ffffff;

// spacing
