// colors
$primary-color: #003049;
$secondary-color: #ef233c;
$background-color: #f0f0f0;
$surface-color: #ffffff;
$error-color: #d90429;

// text colors
$on-primary-color: #ffffff;
$on-secondary-color: #ffffff;
$on-background-color: #000000;
$on-surface-color: #000000;
$on-error-color: #ffffff;

// elevations
$elevations: (
  no-elevation: 0,
  status: 2,
  appbar: 4,
  bottom-bar: 4,
  drawer: 16,
);
