@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";
@use "../abstracts/animations" as anim;

// appbar
.appbar {
  width: 100%;
  height: 56px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: variables.$primary-color;
  position: relative;
  // add box-shadow
  @include mixins.appbar-shadow;

  // z-index
  @include mixins.z-index("appbar");

  // flex
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &--space-between {
    justify-content: space-between;
  }

  // tablet
  @include mixins.tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // appbar--open
  &--open &__bar--top {
    @include anim.animation-end {
      transform: rotate(45deg) translate(5px, 5px);
    }
  }

  &--open &__bar--middle {
    @include anim.animation-end {
      opacity: 0;
    }
  }

  &--open &__bar--bottom {
    @include anim.animation-end {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  // appbar__section
  &__section {
    margin: 0;
    padding: 0;

    // appbar__section--logo
    &--logo {
      margin-left: 1rem;

      // large-tablet
      @include mixins.large-tablet {
        margin-left: 0;
      }
    }

    // appbar__section--right
    &--right {
      margin-left: auto;
    }
  }

  // appbar__menu
  &__menu {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    background-color: variables.$primary-color;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // large-tablet
    @include mixins.large-tablet {
      display: none;
    }
  }

  // appbar__icon
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  // appbar__bar
  &__bar {
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: variables.$on-primary-color;

    // animation start
    @include anim.animation-start {
      transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }

    // appbar__bar--top
    &--top {
      // animation start
      @include anim.animation-start {
        transform: rotate(0deg);
      }
    }

    // appbar__bar--middle
    &--middle {
      // animation start
      @include anim.animation-start {
        transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
          opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
        opacity: 1;
      }
    }

    // appbar__bar--bottom
    &--bottom {
      // animation start
      @include anim.animation-start {
        transform: rotate(0deg);
      }
    }
  }
}

// logo
.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: variables.$secondary-color;

  // logo image
  &__img {
    width: 100%;
    height: 100%;
  }
}

.profile-dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &:hover {
    .profile-dropdown__content {
      display: block;
    }
  }

  //profile-dropdown__img-wrapper
  &__img-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }

  // profile-dropdown__img
  &__img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: variables.$secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // profile-dropdown__name
  &__name {
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  // profile-dropdown__content
  &__content {
    display: none;
    background-color: variables.$surface-color;
    position: absolute;
    top: 1.75rem;
    right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    // box-shadow
    @include mixins.surface-shadow;
  }

  // profile-dropdown__link
  &__link {
    width: 100%;
    height: 2.5rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: typography.$text-high-color;
    transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: rgba($color: variables.$on-surface-color, $alpha: 0.04);
    }

    &:active {
      background-color: rgba($color: variables.$on-surface-color, $alpha: 0.12);
    }
  }
}
