@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

%btn {
  min-width: functions.pxToRem(64px);
  height: functions.pxToRem(36px);
  border: none;
  border-radius: functions.pxToRem(4px);
  background-color: variables.$secondary-color;
  color: variables.$on-secondary-color;

  font-size: functions.pxToRem(16px);
  text-transform: uppercase;
  padding-left: functions.pxToRem(16px);
  padding-right: functions.pxToRem(16px);

  // box-shadow
  @include mixins.btn-shadow;
}
