// home-page
.home-page {
  width: 100%;
  height: 100%;
  // home-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // home-page__header
  &__header {
    flex-shrink: 0;
  }

  // home-page__main
  &__main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }

  // home-page__copy
  &__copy {
    width: 100%;
    padding: 1rem;
  }

  // home-page__btn-wrapper
  &__btn-wrapper {
    justify-content: center;
  }

  // home-page__hero-wrapper
  &__hero-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  // home-page__footer
  &__footer {
    margin-top: auto;
  }
}
