@use "../abstracts/variables";
@use "../abstracts/mixins";

// login-page
.login-page {
  width: 100%;
  height: 100%;
  // login-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // login-page__header
  &__header {
    flex-shrink: 0;
  }

  // login-page__main
  &__main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    // tablet
    @include mixins.tablet {
      flex-direction: row;
      flex-grow: 1;
    }

    // extra large tablet
    @include mixins.xlarge-tablet {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    // small-desktop
    @include mixins.small-desktop {
      padding-left: 5%;
      padding-right: 5%;
    }

    // desktop
    @include mixins.desktop {
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  // login-page__form
  &__form {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    // tablet
    @include mixins.tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0;
    }

    // small-desktop
    @include mixins.small-desktop {
      padding-left: 6%;
    }

    // desktop
    @include mixins.desktop {
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  // login-page__btn-wrapper
  &__btn-wrapper {
    justify-content: center;

    // tablet
    @include mixins.tablet {
      justify-content: flex-start;
    }
  }

  // login-page__hero-wrapper
  &__hero-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    // tablet
    @include mixins.tablet {
      justify-content: center;
      margin-top: 1.5rem;
    }
  }

  // login-page__hero
  &__hero {
    display: none;

    // tablet
    @include mixins.tablet {
      display: block;
    }
  }

  // login-page__footer
  &__footer {
    margin-top: auto;
  }
}
