@use "../abstracts/variables";

// profile-page
.profile-page {
  width: 100%;
  height: 100%;
  // profile-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // profile-page__header
  &__header {
    flex-shrink: 0;
  }

  // profile-page__main
  &__main {
  }

  // profile-page__footer
  &__footer {
    margin-top: auto;
  }
}

.profile-content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  // login-content__form
  &__form {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  // login-content__hero
  &__hero {
    width: 100%;
    padding: 1rem;
    display: none;
  }
}

.profile-hero {
  &__img {
  }
}
