@use "../abstracts/variables";

// profile-page
.profile-page {
  width: 100%;
  height: 100%;
  // profile-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // profile-page__header
  &__header {
    flex-shrink: 0;
  }

  // profile-page__main
  &__main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  // profile-page__form
  &__form {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  // profile-page__btn-wrapper
  &__btn-wrapper {
    justify-content: space-between;
  }

  // profile-page__hero-wrapper
  &__hero-wrapper {
    width: 100%;
    padding: 1rem;
    display: none;
  }

  // profile-page__hero
  &__hero {
  }

  // profile-page__footer
  &__footer {
    margin-top: auto;
  }
}
