@use "../abstracts/variables";

// register-page
.register-page {
  width: 100%;
  height: 100%;
  // register-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // register-page__header
  &__header {
    flex-shrink: 0;
  }

  // register-page__main
  &__main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  // register-page__form
  &__form {
    width: 100%;
    padding: 1rem;
    margin: 0rem;
  }

  // register-page__btn-wrapper
  &__btn-wrapper {
    justify-content: center;
  }

  // register-page__hero-wrapper
  &__hero-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // register-page__hero
  &__hero {
    display: none;
  }

  // register-page__footer
  &__footer {
    margin-top: auto;
  }
}
