@use "../abstracts/variables";
@use "../abstracts/mixins";

// chat-page
.chat-page {
  width: 100%;
  height: 100%;

  // large-tablet
  @include mixins.large-tablet {
    height: 100%;
  }

  // chat-page__body
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    // large-tablet
    @include mixins.large-tablet {
      height: 100%;
    }
  }

  // chat-page__header
  &__header {
    flex-shrink: 0;
  }

  // chat-page__main
  &__main {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    // large-tablet
    @include mixins.large-tablet {
      flex-direction: row-reverse;
    }
  }

  // chat-page__messages
  &__messages {
    width: 100%;

    // tablet
    @include mixins.tablet {
      padding: 1.5rem 5%;
    }

    // large-tablet
    @include mixins.large-tablet {
      width: 65%;
      padding: 1rem;
    }
  }

  // chat-page__message-wrapper
  &__message-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 64px;
  }

  // chat-page__chat-form
  &__chat-form {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    // large-tablet
    @include mixins.large-tablet {
      position: static;
      // box-shadow
      @include mixins.surface-shadow;
      margin-top: 1rem;
    }
  }

  // chat-page__friends
  &__friends {
    width: calc(100% - 3.5rem);
    height: 100%;
    position: absolute;

    // z-index
    @include mixins.z-index("drawer");

    transform: translateX(-100%);

    // chat-content__friends--open
    &--open {
      transform: translateX(0);
    }

    // large-tablet
    @include mixins.large-tablet {
      width: 35%;
      position: static;
      transform: translateX(0);
      padding: 1rem;
    }
  }

  // chat-page__btn-wrapper
  &__btn-wrapper {
    justify-content: center;
  }

  // chat-page__footer
  &__footer {
    margin-top: auto;
    // hide on mobile
    display: none;

    // large-tablet
    @include mixins.large-tablet {
      display: flex;
      margin-top: auto;
    }
  }
}
