@use "../abstracts/variables";
@use "../abstracts/mixins";

// chat-content
.chat-content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  // chat-content__messages
  &__messages {
    width: 100%;
  }

  // chat-content__friends
  &__friends {
    width: calc(100% - 3.5rem);
    height: 100%;
    position: absolute;

    // z-index
    @include mixins.z-index("drawer");

    transform: translateX(-100%);

    // chat-content__friends--open
    &--open {
      transform: translateX(0);
    }
  }
}
